{% extends "add_modal.html" %} {% block name %}
<div class="mb-6">
  <div class=" grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-4">
      <label
        for="username"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Category</label
      >

      <select
        name="category"
        id="category"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      >
        <option value="food">Food</option>
        <option value="transport">Transport</option>
        <option value="utilities">Utilities</option>
        <option value="housing">Housing</option>
        <option value="clothing">Clothing</option>
        <option value="health">Health</option>
        <option value="education">Education</option>
        <option value="entertainment">Entertainment</option>
        <option value="others">Others</option>
      </select>
    </div>
  </div>
</div>
{% endblock name %}
